* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
  font-family: 'Lato', sans-serif;
  padding: 0px;
  font-size: 14px;
  line-height: 20px;
  background-color: #c1ff33;
  line-height: 1.8;
  height: 100%;
  margin: 0;
  margin-bottom: 40px;
}
img {
    max-width: 100%;
    height: auto;
}
/* Style the top navigation bar */
header{
    position: sticky;
    top: 0;
}
.topnav {
    overflow: hidden;
    background-color: rgb(52, 122, 55);
    color: white;
    height: 70px;
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    height: 70px;
}
.topnav b {
    font-family: 'Montserrat', sans-serif; 
    height: 70px;
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}
.topnav c {
    height: 70px;
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}
/* Change color on hover */
.topnav a:hover {
    background-color: #c1ff33;
    color: rgb(52, 122, 55);
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
}
/* Style the footer */
footer {
    background-color: rgb(52, 122, 55);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}

html {
    min-height: 100%;
    position: relative;
}

h1 {
    font-weight: normal;
    font-size: 10px;
    text-align: center;
}
.div1 {
    width: 100%;
    height: 35px;
}
/* MINEEE */
.divtable {
    border-collapse: collapse;
    width: 100%;
    height: 800px;
}
table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    top: 0;
}
th, td {
    text-align: left;
    padding: 10px;
    height: 20px;
}
td{
    top: 0;
}
.td1{
    font-weight: 900;
    text-transform: uppercase;
}
th {
    background-color: #4caf50;
    color: white;
    border-bottom: 3px solid white;
    font-size: 15px;
}
tr:nth-child(even){
    background-color: #00000015;
}
tr:hover {
    background-color:#0000003a;
}
.boton{
    overflow:hidden;
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
    font-size: 14px;
}
.boton:hover {
    background: rgba(0,0,0,0);
    color: #4CAF50;
    box-shadow: inset 0 0 0 3px #4CAF50;
}
.boton2{
    overflow:hidden;
    background-color: rgba(1, 15, 2, 0);
    /*background-image: url('https://image.flaticon.com/icons/png/512/15/15739.png');*/
    border: none;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 20px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 14px;
}
.boton2:hover {
    color: white;
}
.boton3{
    overflow:hidden;
    background-color: rgba(76, 175, 79, 0);
    border: none;
    color: rgba(76, 175, 79, 0);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
    font-size: 14px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    font-size: 15px;
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 25%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.boton_json{
    overflow:hidden;
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
    font-size: 14px;
}
.boton_json:hover {
    background: rgba(0,0,0,0);
    color: #4CAF50;
    box-shadow: inset 0 0 0 3px #4CAF50;
}

#start-timer {
    position: absolute;
    width: 130px;
    height: 20px;
    top: 60px;
    left: 25px;
    cursor: pointer;
}

#stop-timer {
    position: absolute;
    width: 130px;
    height: 20px;
    top: 85px;
    left: 25px;
    cursor: pointer;
}